<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Início</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Vendas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/vendas">Lista</a></li>
                <li><a class="dropdown-item" href="/vendas/nova">Adicionar Venda</a></li>
              </ul>
            </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Fornecedores
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/fornecedores">Lista</a></li>
            <li><a class="dropdown-item" href="/fornecedores/novo">Adicionar Fornecedor</a></li>
          </ul>
        </li>
        
        <!-- Botão de logout (Sair) alinhado à direita -->
        <li class="nav-item ms-auto">
          <form action="/usuarios/logout" method="POST">
            <button type="submit" class="btn btn-outline-danger">Sair</button>
          </form>
        </li>

      </ul>
    </div>
  </div>
</nav>
